span{
    margin:10px 15px;
    font-weight: bold;
    font-family: Bahnschrift;
    font-size: 30px;
}
.spacer{
    margin:20px;
}
.btnstyle{
    border: black solid 1px;
    transition: border 0.6s;
}
.btnstyle:hover{
    border: #343a40 solid 6px;
    transition: border 0.6s;
}
.x{
    font-weight: lighter;
    letter-spacing: 3px;
    color: gray();
    text-shadow: black 1px 0 3px;
    transition: font-size 1s;
    padding:2px;
}
.x:hover{
    font-size: 40px;
    font-weight: bolder;
    color: #6f42c1;
    text-shadow: gray 1px 0 6px;
    transition: font-size 0.5s;
}
